<h1 [align]="'center'">Downloads</h1>
<div class="text-center downloads">
    <div>
        Download a short user guide from <a href="{{apiUrl+'/api/files/userManual'}}">here</a>.
    </div>
    <h2>Application</h2>
    <mat-form-field>
        <mat-label>Select the version</mat-label>
        <mat-select [(ngModel)]="selectedSoftware">
            <mat-option *ngFor="let soft of software" [value]="soft">{{soft.label}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button [disabled]="!selectedSoftware" [matTooltip]="'Download'" color="primary"
            style="margin-left: 20px"
            (click)="download(selectedSoftware)">
        <mat-icon>save_alt</mat-icon>
    </button>
    <div *ngIf="selectedSoftware">
        <h2>System requirements</h2>
        <p>Windows 10, 8.1, 7, Vista and XP. Including both 32-bit and 64-bit versions.</p>
    </div>
    <h2 *ngIf="selectedSoftware">Release Notes ({{selectedSoftware.releaseDate}})</h2>
    <div class="release_notes" *ngIf="selectedSoftware">
        <p *ngFor="let releaseNote of selectedSoftware.releaseNotes.split('|')">• {{releaseNote}}</p>
    </div>
</div>