.form-wrapper {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.general-form {
    margin-top: 20px;
}

.form-component {
    width: 48%;
}

.submit-button {
    margin-top: 20px;
    float: right;
}
