<form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="container-fluid w3-center align-content-center align-items-center text-center">
        <h2 class="form-signin-heading">Sign in</h2>
        <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div>
        <br/>
        <label for="username" class="sr-only">Username</label>
        <input type="email" id="username" name="username" ngModel class="form-control" style="width: auto;display: inline-block;margin: 5px"
               placeholder="Username" required autofocus>
        <br/>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" ngModel class="form-control" style="width: auto;display: inline-block;margin: 5px"
               placeholder="Password" required>
        <br/>
        <button mat-raised-button color="primary" type="submit" style="margin-top: 5px">Sign in</button>
        <a routerLink="/register" style="margin-left: 20px; color:#673ab7 ">Sign up</a>
    </div>
</form>