<div>
    <h2 [align]="'center'">People</h2>
    <div class="text-center people">

        <div *ngFor="let person of people" class="person">
            <!-- Image -->
            <div>
                <img src="{{getImageUrl(person) }}"
                     class="person-image ">
            </div>
            <div>
                <!-- Facebook -->
                <a href="{{person.facebookUrl}}" target="_blank">
                    <img src="assets/img/facebook.svg" class="social-icon">
                </a>
                <!-- Email -->
                <a href="mailto:{{person.email}}" class="" target="_blank">
                    <img src="assets/img/email-icon.svg" class="social-icon">
                </a>
                <!-- LinkedIn -->
                <a href="{{person.linkedInUrl}}" class="" target="_blank">
                    <img src="assets/img/linkedin.svg" class="social-icon">
                </a>
            </div>
            <div class="bio">
                <p class="person-name">{{person.firstName}} {{person.lastName}}</p>
                <p>{{person.description}}</p>
            </div>
        </div>


    </div>
</div>


<div>
    <h2 [align]="'center'">Publications</h2>
    <div class="text-center publications">
    </div>
</div>

<div>
    <h2 [align]="'center'">Projects</h2>
    <div class="text-center publications">
    </div>
</div>

<div>
    <h2 [align]="'center'">Literature</h2>
    <div class="literature text-center">
        <div *ngFor="let link of literatureLinks">
            <a target="_blank" href="{{link.url}}">{{ link.name}}</a>
        </div>
        <br/>
    </div>
    <br/><br/><br/><br/>
</div>
