<div>
    <h2 [align]="'center'">People</h2>
    <div class="text-center people">
        <div *ngFor="let person of people" class="person">
            <div>
                <img src="{{getImageUrl(person) }}"
                     class="person-image ">
            </div>
            <div>
                <a href="{{person.facebookUrl}}" target="_blank">
                    <img src="assets/img/facebook.svg" class="social-icon">
                </a>
                <a href="mailto:{{person.email}}" class="" target="_blank">
                    <img src="assets/img/email-icon.svg" class="social-icon">
                </a>
                <a href="{{person.linkedInUrl}}" class="" target="_blank">
                    <img src="assets/img/linkedin.svg" class="social-icon">
                </a>
            </div>
            <div class="bio">
                <p class="person-name">{{person.firstName}} {{person.lastName}}</p>
                <p>{{person.description}}</p>
            </div>
        </div>
    </div>
</div>


<div>
    <h2 [align]="'center'">Publications</h2>
    <div class="text-center publications">
        <mat-card *ngFor="let publication of publications" class="publication">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon>book</mat-icon>
                </div>
                <mat-card-title>
                    <p>{{publication.title}}</p>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-icon>people</mat-icon>
                <p>{{publication.authors}}</p>
                <mat-icon>description</mat-icon>
                <p>{{publication.journal}}</p>
            </mat-card-content>
            <mat-card-actions class="action-buttons">
                <button mat-button [matTooltip]="'Download'" color="primary" (click)="downloadPublication(publication)">
                    <mat-icon>save_alt</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<div>
    <h2 [align]="'center'">Projects</h2>
    <div class="text-center projects">
        <mat-card *ngFor="let project of projects" class="project">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon>insert_drive_file</mat-icon>
                </div>
                <mat-card-title>
                    <p>{{project.name}}</p>
                </mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{project.description}}</p>
            </mat-card-content>
            <mat-card-actions class="action-buttons">
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<div>
    <h2 [align]="'center'">Literature</h2>
    <div class="text-center literature">
        <div *ngFor="let link of literatureLinks">
            <a target="_blank" href="{{link.url}}">{{ link.name}}</a>
        </div>
        <br/>
    </div>
    <br/><br/><br/><br/>
</div>
