[Unit]
Description=xRandNet
After=network.target
[Service]
Type=simple
User=root
StandardOutput=file:/var/log/xrandnet/xrandnet.log
StandardError=file:/var/log/xrandnet/xrandnet.log
WorkingDirectory=/opt/xRandNet/automation
Restart=on-failure
ExecStart=/opt/xRandNet/automation/api_run.sh