mat-form-field {
    margin-top: 2%;
    width: 100%;
}


.info_text {
    resize: none;
    min-height: 200px;
}

.news_textarea {
    min-height: 200px;
    resize: none;
}

.new_post_textarea {
    min-height: 100px;
    resize: none;
}

.new_person_description_textarea {
    min-height: 60px;
    width: 100%;
    resize: none;
}

.userManualButton {
    margin-top: 15px;
    max-width: 30%;
    display: block;
}

.card {
    margin: 20px auto 0;
    width: 50%;
}

.softwareButton {
    max-width: 30%;
    display: block;
}

.writeNewsButton {
    max-width: 30%;
    display: block;
}

.bugs-section {
    margin-left: 10%;
    max-width: 20%;
    padding-bottom: 5%;
}

.general-links-section {
    max-width: 20%;
    margin-right: 10%;
    padding-bottom: 5%;
}

.literature-links-section {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 20%;
    padding-bottom: 5%;
}


.button-icon:hover {
    cursor: pointer;
}

.info-section {
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;

}

input {
    display: block;
}


.upload_section {
    margin-left: 40px;
    margin-right: 20px;
}

h2 {
    margin-top: 50px;
    color: #673ab7;
}

.content {
    padding-left: 30px;
    padding-right: 30px;
}

.bug {
    float: left;
    width: 300px;
    display: inline-block;
    margin: 10px;
    border-radius: 20px;
    filter: drop-shadow(3px 2px 5px gray);
    /*min-height: 300px;*/
}

.bug_status_0 {
    background-color: #EF9A9A;
}

.bug_status_1 {
    background-color: #A5D6A7;
}

.bug_status_2 {
    background-color: #EEEEEE;
}

.news {
    width: 96%;
    margin: 15px;
    border-radius: 20px;
    filter: drop-shadow(1px 1px 1px gray);
    background-color: rgb(241, 240, 255)
}

.section {
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    /*background-color: #d9d7f4de;*/
}

.news_edit_input {
    height: 100%;
}

.news_section {
    display: grid;
    width: 50%;
    margin: 0 auto;
    margin-top: 1%;
}

.people_section {
    display: grid;
    width: 50%;
    margin: 0 auto;
    margin-top: 1%;
}

.software_section {
    display: grid;
    width: 60%;
    margin: 0 auto;
    margin-top: 1%;
}

.home_section {
    display: grid;
    width: 60%;
    margin: 0 auto;
    margin-top: 1%;
}

.publications_section{
    display: grid;
    width: 40%;
    margin: 0 auto;
    margin-top: 1%;
}

.projects_section{
    display: grid;
    width: 60%;
    margin: 0 auto;
    margin-top: 1%;
}

.links_section {
    display: grid;
    width: 30%;
    margin: 0 auto;
    margin-top: 1%;
}

.routing-button {
    margin: 10px;
}

.person-image {
    width: 40px;
    height: 40px;
    border-radius: 200px;
}

.person {
    min-height: 50%;
    margin: 20px;
    border-radius: 20px;
    filter: drop-shadow(1px 1px 1px gray);
    background-color: rgb(241, 240, 255);
    display: inline-block;
}

.navigation{
    margin: 40px auto;
    text-align: center;
}
