<div class="content">
    <div class="navigation">
        <button mat-raised-button color="primary" class="routing-button" (click)="showHome()"
                [disabled]="showHomeSection">
            Home
        </button>
        <button mat-raised-button color="primary" class="routing-button" (click)="showSoftware()"
                [disabled]="showSoftwareSection">
            Software/Manual
        </button>
        <button mat-raised-button color="primary" class="routing-button" (click)="showNews()"
                [disabled]="showNewsSection">
            News
        </button>
        <button mat-raised-button color="primary" class="routing-button" (click)="showPeople()"
                [disabled]="showPeopleSection">
            People
        </button>
        <button mat-raised-button color="primary" class="routing-button" (click)="showLinks()"
                [disabled]="showLinksSection">
            Links
        </button>
        <button mat-raised-button color="primary" class="routing-button" (click)="showProjects()"
                [disabled]="showProjectsSection">
            Projects
        </button>
        <button mat-raised-button color="primary" class="routing-button" (click)="showPublications()"
                [disabled]="showPublicationsSection">
            Publications
        </button>
    </div>

    <mat-card *ngIf="showHomeSection" class="section home_section">
        <h2 [align]="'center'">Home</h2>
        <mat-form-field>
            <textarea class="info_text" matInput [(ngModel)]="aboutInfo.content" placeholder="About us"></textarea>
        </mat-form-field>
        <br>
        <button color="primary" mat-raised-button (click)="editInfo()" [matTooltip]="'Save'">
            <mat-icon>save</mat-icon>
        </button>
    </mat-card>

    <mat-card *ngIf="showSoftwareSection" class="section software_section">
        <h2 [align]="'center'">Software</h2>
        <button style="width:200px;margin: 10px auto;" color="primary" class="softwareButton" mat-raised-button
                (click)="openSoftwareUploadPage()"
                [matTooltip]="'Upload new version of software'">
            Upload app
        </button>
        <button style="width:200px;margin: 10px auto;" color="primary" class="userManualButton" mat-raised-button
                (click)="openUserManualFileUploadPage()"
                [matTooltip]="'Upload new user manual document'">
            Upload manual
        </button>
        <mat-form-field style="width: 200px;text-align: center;margin: 10px auto">
            <mat-label>Select the version</mat-label>
            <mat-select [(ngModel)]="selectedVersion" (ngModelChange)="onVersionChanged()">
                <mat-option style="text-align: center" *ngFor="let version of softwareVersions"
                            [value]="version">{{version}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-list style="margin: 0 auto;">
            <h3 mat-subheader>Bugs</h3>
            <mat-card *ngFor="let bug of bugs" [ngClass]="'bug_status_'+ bug.status" class="bug"
                      style="background-color: #e91e63{{bug.status}}">
                <mat-card-header>
                    <div mat-card-avatar>
                        <mat-icon>bug_report</mat-icon>
                    </div>
                    <mat-card-title class="title">{{bug.summary}}</mat-card-title>
                    <mat-card-subtitle>ID: {{bug.id }},
                        Status: {{toBugStatusString(bug.status)}}</mat-card-subtitle>
                    <mat-card-subtitle>Report Date: {{bug.reportDate | date:'dd/MM/yyyy'}} </mat-card-subtitle>
                    <mat-card-subtitle>Version: {{bug.version }} </mat-card-subtitle>
                    <mat-card-subtitle>Reporter: {{bug.reporter}} </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>{{bug.description}}</p>
                </mat-card-content>
                <mat-card-actions class="action-buttons">
                    <button color="primary" (click)="openBugDetailsPage(bug)" mat-button>
                        <mat-icon>open_in_new</mat-icon>
                    </button>
                    <button color="primary" [matTooltip]="'Delete'" (click)="deleteBug(bug)" mat-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
            <p *ngIf="bugs.length == 0">No bugs reported on {{selectedVersion}} version</p>
            <!--        <mat-list-item class="bug" *ngFor="let bug of bugs">-->
            <!--            <mat-icon mat-list-icon>bug_report</mat-icon>-->
            <!--            <h4 mat-line>Summary - {{bug.summary}} </h4>-->
            <!--            <span mat-line>ID- {{bug.id}}</span>-->
            <!--            <span mat-line>Version- {{bug.version}}</span>-->
            <!--            <span mat-line>Description - {{bug.description}} </span>-->
            <!--            <span mat-line>Reporter - {{bug.reporter}} </span>-->
            <!--            <mat-icon class="button-icon" [matTooltip]="'Open details'" (click)="openBugDetailsPage(bug)">-->
            <!--            </mat-icon>-->
            <!--            <mat-icon class="button-icon" [matTooltip]="'Delete'" (click)="deleteBug(bug)">delete</mat-icon>-->
            <!--        </mat-list-item>-->
        </mat-list>
    </mat-card>

    <mat-card *ngIf="showNewsSection" class="section news_section">
        <h2 [align]="'center'">News</h2>
        <mat-card class="news">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon>announcement</mat-icon>
                </div>
                <mat-card-title class="title">
                    <input placeholder="Title" matInput [(ngModel)]="newPost.title"/>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <textarea placeholder="Content" class="new_post_textarea" matInput
                          [(ngModel)]="newPost.content"></textarea>
            </mat-card-content>
            <mat-card-actions class="action-buttons">
                <button [disabled]="newPost.content == null || newPost.title == null" color="primary" mat-button
                        (click)="addNews(newPost)">Add
                </button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="news" *ngFor="let n of news">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon>announcement</mat-icon>
                </div>
                <mat-card-title *ngIf="!n.editable" class="title">{{n.title}}</mat-card-title>
                <mat-card-title *ngIf="n.editable" class="title">
                    <input matInput [(ngModel)]="n.title"/>
                </mat-card-title>
                <mat-card-subtitle>Posted date: {{n.datePosted | date:'dd/MM/yyyy'}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <textarea class="news_textarea" *ngIf="n.editable" matInput
                          [(ngModel)]="n.content"></textarea>
                <p *ngIf="!n.editable">{{n.content}}</p>
            </mat-card-content>
            <mat-card-actions class="action-buttons">
                <button *ngIf="!n.editable" color="primary" mat-button (click)="editNews(n)">Edit</button>
                <button *ngIf="n.editable" color="primary" mat-button (click)="saveNews(n)">Save</button>
                <button color="primary" mat-button (click)="deleteNews(n)">Delete</button>
            </mat-card-actions>
        </mat-card>
    </mat-card>

    <mat-card *ngIf="showPeopleSection" class="section  people_section">
        <h2 [align]="'center'">People</h2>
        <mat-card class="person">
            <mat-card-header>
                <div mat-card-avatar>
                    <img *ngIf="!(newPerson.imageUrl== '' || newPerson.imageUrl == null)" src="{{newPerson.imageUrl}}"
                         class="person-image">
                    <mat-icon *ngIf="newPerson.imageUrl == null || newPerson.imageUrl == ''">people</mat-icon>
                </div>
                <mat-card-title class="title">
                    <input placeholder="First name" matInput [(ngModel)]="newPerson.firstName"/>
                    <input placeholder="Last name" matInput [(ngModel)]="newPerson.lastName"/>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <textarea placeholder="Description" class="new_person_description_textarea" matInput
                          [(ngModel)]="newPerson.description"></textarea>
                <input placeholder="Email address" matInput [(ngModel)]="newPerson.email"/>
                <input placeholder="Facebook URL" matInput [(ngModel)]="newPerson.facebookUrl"/>
                <input placeholder="LinkedIn URL" matInput [(ngModel)]="newPerson.linkedInUrl"/>
                <input placeholder="Image URL" matInput [(ngModel)]="newPerson.imageUrl"/>

            </mat-card-content>
            <mat-card-actions class="action-buttons">
                <button [disabled]="newPerson.firstName == null || newPerson.lastName == null || newPerson.description == null"
                        color="primary" mat-button
                        (click)="addPerson(newPerson)">Add
                </button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="person" *ngFor="let person of people">
            <mat-card-header>
                <div mat-card-avatar>
                    <img src="{{getImageUrl(person)}}" class="person-image">
                </div>
                <mat-card-title *ngIf="!person.editable"
                                class="title">{{person.firstName + " " + person.lastName}}</mat-card-title>
                <mat-card-title *ngIf="person.editable" class="title">
                    <input matInput [(ngModel)]="person.firstName"/>
                    <input matInput [(ngModel)]="person.lastName"/>
                </mat-card-title>
                <mat-card-subtitle>
                    <p *ngIf="!person.editable">{{person.description}}</p>
                </mat-card-subtitle>

            </mat-card-header>
            <mat-card-content>
                <p *ngIf="!person.editable">Email: {{person.email}}</p>
                <p *ngIf="!person.editable">Facebook URL: {{person.facebookUrl}}</p>
                <p *ngIf="!person.editable">LinkedIn URL: {{person.linkedInUrl}}</p>
                <p *ngIf="!person.editable">Image URL: {{person.imageUrl}}</p>
                <div *ngIf="person.editable">
                    Description :
                    <textarea class="new_person_description_textarea" matInput
                              [(ngModel)]="person.description"></textarea>
                    Email :
                    <input placeholder="Email address" matInput [(ngModel)]="person.email"/>
                    Facebook URL :
                    <input placeholder="Facebook URL" matInput [(ngModel)]="person.facebookUrl"/>
                    LinkedIn URL :
                    <input placeholder="LinkedIn URL" matInput [(ngModel)]="person.linkedInUrl"/>
                    Image URL :
                    <input placeholder="Image URL" matInput [(ngModel)]="person.imageUrl"/>
                </div>
            </mat-card-content>
            <mat-card-actions class="action-buttons">
                <button *ngIf="!person.editable" color="primary" mat-button (click)="editPerson(person)">Edit</button>
                <button *ngIf="person.editable" color="primary" mat-button (click)="savePerson(person)">Save</button>
                <button color="primary" mat-button (click)="deletePerson(person)">Delete</button>
            </mat-card-actions>
        </mat-card>
    </mat-card>

    <mat-card *ngIf="showLinksSection" class="section links_section">
        <h2 [align]="'center'">Links</h2>
        <mat-list>
            <h3 mat-subheader>Literature Links</h3>
            <mat-list-item *ngFor="let link of literatureLinks;let editMode=false;">
                <mat-icon color="primary" mat-list-icon>link</mat-icon>
                <h4 *ngIf="!editMode" mat-line>{{link.name}}</h4>
                <span mat-line><input *ngIf="editMode" matInput type="text" placeholder="Name"
                                      [(ngModel)]="link.name"/></span>
                <span *ngIf="!editMode" mat-line> {{link.url}} </span>
                <span mat-line><input *ngIf="editMode" matInput type="text" placeholder="URL"
                                      [(ngModel)]="link.url"></span>
                <button mat-button color="primary" *ngIf="!editMode"
                        (click)="editMode = true; editLiteratureLink(link)"
                        [matTooltip]="'Edit'">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-button color="primary" *ngIf="editMode"
                        (click)="editMode = false; saveLiteratureLink(link)"
                        [matTooltip]="'Save'">
                    <mat-icon>save</mat-icon>
                </button>
                <button mat-button color="primary" *ngIf="editMode"
                        (click)="editMode = false; cancelEditingLiteratureLink(link)"
                        [matTooltip]="'Cancel'">
                    <mat-icon>cancel</mat-icon>
                </button>
                <button mat-button color="primary" (click)="deleteLiteratureLink(link)"
                        [matTooltip]="'Delete'">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-list-item>


            <button mat-button color="primary" *ngIf="!addLiteratureLink" (click)="addLiteratureLink=true"
                    [matTooltip]="'Add literature link'">
                <mat-icon>add_box</mat-icon>
            </button>
            <mat-list-item *ngIf="addLiteratureLink">
                <mat-icon color="primary" mat-list-icon>link</mat-icon>
                <span mat-line><input matInput type="text" placeholder="Name"
                                      [(ngModel)]="newLiteratureLink.name"/></span>
                <span mat-line><input matInput type="text" placeholder="URL"
                                      [(ngModel)]="newLiteratureLink.url"></span>
                <button mat-button color="primary"
                        (click)="addNewLiteratureLink(newLiteratureLink);addLiteratureLink=false"
                        [matTooltip]="'Save'">
                    <mat-icon>save</mat-icon>
                </button>
                <button mat-button color="primary" (click)="addLiteratureLink=false"
                        [matTooltip]="'Cancel'">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
        <mat-list>
            <h3 [align]="'center'" mat-subheader>General Links</h3>
            <mat-list-item *ngFor="let link of generalLinks;let editMode=false;">
                <mat-icon color="primary" mat-list-icon>link</mat-icon>
                <h4 *ngIf="!editMode" mat-line>{{link.name}}</h4>
                <span mat-line><input *ngIf="editMode" matInput type="text" placeholder="Name"
                                      [(ngModel)]="link.name"/></span>
                <span *ngIf="!editMode" mat-line> {{link.url}} </span>
                <span mat-line><input *ngIf="editMode" matInput type="text" placeholder="URL"
                                      [(ngModel)]="link.url"></span>
                <button [matTooltip]="'Edit'" *ngIf="!editMode" mat-button color="primary"
                        (click)="editMode = true; editGeneralLink(link)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button [matTooltip]="'Save'" *ngIf="editMode" mat-button color="primary"
                        (click)="editMode = false; saveGeneralLink(link)">
                    <mat-icon>save</mat-icon>
                </button>
                <button [matTooltip]="'Cancel'" *ngIf="editMode" mat-button color="primary"
                        (click)="editMode = false; cancelEditingGeneralLink(link)">
                    <mat-icon>cancel</mat-icon>
                </button>
                <button [matTooltip]="'Delete'" mat-button color="primary" (click)="deleteGeneralLink(link)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-list-item>

            <button mat-button color="primary" *ngIf="!addLiteratureLink" (click)="addGeneralLink=true"
                    [matTooltip]="'Add general link'">
                <mat-icon>add_box</mat-icon>
            </button>
            <mat-list-item *ngIf="addGeneralLink">
                <mat-icon color="primary" mat-list-icon>link</mat-icon>
                <span mat-line><input matInput type="text" placeholder="Name"
                                      [(ngModel)]="newGeneralLink.name"/></span>
                <span mat-line><input matInput type="text" placeholder="URL"
                                      [(ngModel)]="newGeneralLink.url"></span>
                <button [matTooltip]="'Save'" mat-button color="primary"
                        (click)="addNewGeneralLink(newGeneralLink);addGeneralLink=false">
                    <mat-icon>save</mat-icon>
                </button>
                <button [matTooltip]="'Cancel'" mat-button color="primary" (click)="addGeneralLink=false">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-card>

    <mat-card *ngIf="showProjectsSection" class="section projects_section">
        <h2 [align]="'center'">Projects</h2>
        <mat-card class="news">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon>receipt</mat-icon>
                </div>
                <mat-card-title class="title">
                    <input placeholder="Name" matInput [(ngModel)]="newProject.name"/>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <input placeholder="Description" matInput [(ngModel)]="newProject.description"/>
            </mat-card-content>
            <mat-card-actions class="action-buttons">
                <button [disabled]="newProject.name == null || newProject.description == null "
                        color="primary" mat-button (click)="addProject(newProject)">Add
                </button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="news" *ngFor="let project of projects">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon>receipt</mat-icon>
                </div>
                <mat-card-title *ngIf="!project.editable" class="title">{{project.name}}</mat-card-title>
                <mat-card-title *ngIf="project.editable" class="title">
                    <input matInput [(ngModel)]="project.name"/>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div *ngIf="project.editable">
                    Description :
                    <input placeholder="Journal" matInput [(ngModel)]="project.description"/>
                </div>
                <p *ngIf="!project.editable">Description : {{project.description}}</p>
            </mat-card-content>
            <mat-card-actions class="action-buttons">
                <button *ngIf="!project.editable" color="primary" mat-button (click)="editProject(project)">
                    Edit
                </button>
                <button *ngIf="project.editable" color="primary" mat-button (click)="saveProject(project)">
                    Save
                </button>
                <button color="primary" mat-button (click)="deleteProject(project)">Delete</button>
            </mat-card-actions>
        </mat-card>
    </mat-card>

    <mat-card *ngIf="showPublicationsSection" class="section publications_section">
        <h2 [align]="'center'">Publications</h2>
        <mat-card class="news">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon>book</mat-icon>
                </div>
                <mat-card-title class="title">
                    <input placeholder="Title" matInput [(ngModel)]="newPublication.title"/>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <input placeholder="Authors" matInput [(ngModel)]="newPublication.authors"/>
                <input placeholder="Journal" matInput [(ngModel)]="newPublication.journal"/>
                <p *ngIf="!newPublication.editable && newPublication.file !==undefined">File
                    : {{newPublication.file.name}}</p>
            </mat-card-content>
            <mat-card-actions class="action-buttons">
                <button [disabled]="newPublication.title == null || newPublication.authors == null || newPublication.file == null "
                        color="primary" mat-button
                        (click)="addPublication(newPublication)">Add
                </button>

                <button mat-button color="primary" (click)="addPublicationFile()">
                    <mat-icon class="button-icon">attach_file</mat-icon>
                </button>
                <input type="file" #file style="display: none" (change)="onPublicationFileAdded(newPublication)"/>
            </mat-card-actions>
        </mat-card>
        <mat-card class="news" *ngFor="let publication of publications">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon>book</mat-icon>
                </div>
                <mat-card-title *ngIf="!publication.editable" class="title">{{publication.title}}</mat-card-title>
                <mat-card-title *ngIf="publication.editable" class="title">
                    <input matInput [(ngModel)]="publication.title"/>
                </mat-card-title>
                <mat-card-subtitle>Authors: {{publication.authors}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div *ngIf="publication.editable">
                    Journal :
                    <input placeholder="Journal" matInput [(ngModel)]="publication.journal"/>
                </div>
                <p *ngIf="!publication.editable">Journal : {{publication.journal}}</p>
            </mat-card-content>
            <mat-card-actions class="action-buttons">
                <button *ngIf="!publication.editable" color="primary" mat-button (click)="editPublication(publication)">
                    Edit
                </button>
                <button *ngIf="publication.editable" color="primary" mat-button (click)="savePublication(publication)">
                    Save
                </button>
                <button color="primary" mat-button (click)="deletePublication(publication)">Delete</button>
                <button mat-button [matTooltip]="'Download'" color="primary" (click)="downloadPublication(publication)">
                    <mat-icon>save_alt</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-card>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>
