<form class="form-signin" #registerForm="ngForm" (ngSubmit)="register(registerForm)">
    <mat-card>
        <h2>Sign up</h2>
        <div *ngIf="error" class="alert alert-danger">{{errorMessage}}</div>
        <mat-form-field class="firstname_input">
            <input matInput name="firstName" ngModel placeholder="First name" required>
        </mat-form-field>
        <mat-form-field class="lastname_input">
            <input matInput name="lastName" ngModel placeholder="Last name" required>
        </mat-form-field>
        <mat-form-field class="username_input">
            <input matInput name="username" ngModel placeholder="Username" required>
        </mat-form-field>
        <mat-form-field class="password_input">
            <input matInput type="password" name="password" ngModel placeholder="Password" required>
        </mat-form-field>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" style="margin-top: 5px">Sign up</button>
            <a routerLink="/login" style="margin-left: 20px;color:#673ab7 ">Sign in</a>
        </mat-card-actions>
    </mat-card>
</form>