h2 {
    text-align: center;
    color: #673ab7;
    margin-bottom: 20px;
}

.username_input {
    display: block;
}

.password_input {
    display: block;
}

.firstname_input {
    display: block;
}

.lastname_input {
    display: block;
}

mat-card {
    margin: 100px auto;
    width: 20%;
    padding: 50px;
}

.mat-card-header-text {
    margin: 16px auto !important;
}